<header>
  <h2><b>TOJO</b> RAMAROSON</h2>
  <p class="move">DEVELOPPEUR WEB & MOBILE</p>
  <div class="about">
    <div style="width: 185px;">
      <i class="fas fa-map-marker-alt"></i>
      <span>Adresse <br>
        Lot IJJ 1294 b Itaosy</span>
    </div>
    <div class="espace">
      <i class="fas fa-envelope"></i>
      tojoramaroson5@gmail.com
    </div>
    <div>
      <i class="fas fa-phone"></i>
      032 82 975 02
    </div>
  </div>

  <div class="qr-code">
    <img src="../../assets/qrcode.png" alt="QR-Code">
  </div>
</header>
