<div class="container" [ngClass]="{'open': test}">
  <div class="content">
     <router-outlet></router-outlet>
  </div>

  <div class="background-arround">
      <div>
        <a class="btn rounded-circle test" href="tel:0328297502"><i class="fas fa-phone"></i></a>
        <a class="btn rounded-circle test" href="mailto:tojoramaroson5@gmail.com"><i class="fab fa-google"></i></a>
        <a class="btn rounded-circle test" href="https://web.facebook.com/tjo.ramaroson/" target="_blank"><i class="fab fa-facebook"></i></a>
        <a class="btn rounded-circle test" href="#"><i class="fab fa-skype"></i></a>
      </div>
  </div>

  <div class="flap"></div>
</div>
